<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Cidades</h1>
        </header>
        <aside>
            <nav>
                <ul>
                    <li><a href="londres.html" target="iframe_a">Londres</a></li>
                    <li><a href="paris.html" target="iframe_a">Paris</a></li>
                    <li><a href="tokyo.html" target="iframe_a">Tokyo</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <article>
                <iframe src="demo_iframe.html" name="iframe_a"></iframe>
            </article>
        </main>
        <footer>
            Me siga nas redes sociais
        </footer>
    </div>
</body>
</html>